<h1>Confirmez votre adresse email</h1>

<p>
    Veuiller cliquer le lien suivant pour verifier votre adresse email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci
</p>
