{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">

                <h1>Réinitialisation du mot de passe</h1>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}

                    <button class="btn btn-primary">Réinitialiser le mot de passe</button>
                    
                {{ form_end(resetForm) }}

            </div>
        </div>
    </section>
    

{% endblock %}
