/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body
{
    font-family: 'Amiri', serif;
}


/* --------------------------- debut : bouton bootstrap personnalisé----------------------------------- */

/* Styliser le label pour les boutons radio personnalisés */
.label-radio-personnalise 
{
    width: 100px; /* Largeur fixe de 100px */
    background-color: #90EE90; /* Fond vert clair */
    border: 2px solid #008000; /* Bordure verte */
    color: #000; /* Texte noir */

    /* Autres styles pour améliorer l'apparence, ajustez selon besoin */
    /* display: inline-flex; Utilise inline-flex pour aligner les labels horizontalement */
    text-align: center; /* Centre le texte dans le bouton */
    border-radius: 0.25rem; /* Arrondit les coins pour l'apparence de Bootstrap */
    padding: 0.375rem 0.75rem; /* Padding similaire aux boutons de Bootstrap pour la consistance */
    font-size: 1rem; /* Taille de police standard des boutons */
    line-height: 1.5; /* Hauteur de ligne pour centrer le texte verticalement */
    vertical-align: middle; /* Ajustement vertical si nécessaire */
    cursor: pointer; /* Change le curseur en main pour indiquer que c'est cliquable */
}

/* Ajouter des effets au survol pour une meilleure interaction utilisateur */
.label-radio-personnalise:hover 
{
    background-color: #76b476; /* Un peu plus foncé que le fond standard au survol */
    border-color: #006400; /* Bordure un peu plus foncée au survol */
}

/* ---------------------------- fin : bouton bootstrap personnalisé----------------------------------- */

/* ----------------------------info bulle ----------------------------------- */

section a
{
    text-decoration: none;
    
}

section .bulle
{
    text-decoration: none;
    position:relative;
    /* color:#C800F0; */
    /* font-family:arial, verdana, sans-serif; */
    /* text-align:center; */
}

section .bulle span 
{
    display: none;   
}

section .bulle:hover span 
{
    display: block;
    position: absolute;
    top: -40px; 
    right: 0px;
    font-family:arial, verdana, sans-serif;
    text-align:center;
    font-size:17px;
    color:white;
    font-weight:bold;
    width:200px;
    background: blue;
    padding: 5px;
    border: thick double 1px white ;
    border-radius: 15px;
    text-indent: 0;
}

/* ----------------------------------- nav -------------------------------------- */

/* #logo a
{
  background-color: white;
  border-left: none;
  border-right: none;
  box-shadow: none;
  font-family: 'Abril Fatface', cursive;
  /* font-family: 'Arial'; */
  /* font-size: 40px;
  font-weight: bold;
  color:#32CD32;
  text-align: start; 
} */

#logo a {
    background-color: white;
    border-left: none;
    border-right: none;
    box-shadow: none;
    color: #32CD32;
    text-decoration: none; /* Remove underline from links */
}

#logo .d-flex {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #32CD32;
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align to the left */
}


#logo a:hover
{
  /* background-color: white; */
  border: none;
  box-shadow: none;
}

nav 
{
    min-height: 70px;
    box-shadow: 10px 5px 5px gray;
}

.btn-group
{
    text-align: center;
}

nav .navbar-brand .logo {
    padding: 10px 15px;
    border-radius: 8px
}

nav .navbar-brand .logo .h2 {
    margin: 0
}

nav .navbar-brand .h4 {
    margin-bottom: 0px;
    font-weight: 900
}

nav .navbar-brand .fs-6 {
    font-size: 0.88rem !important
}

/* nav ul li {
    padding: 0 20px
} */

nav ul li 
{
    background-color: #32CD32;
    color: white; 
    box-shadow: 10px 5px 5px grey;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    width: 200px;
}

nav ul li a .cart {
    padding: 4px 6px;
    border-radius: 6px;
    position: relative;
    display: inline
}

nav ul li a .cart::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5252;
    top: -1px
}

.fond
{
    background-color: #32CD32;
    color: white; 
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

/* ------------------------------- navbar --------------------------------- */

.navbar-light .navbar-nav .nav-link 
{
    color: yellow;
    font-weight: 600;
    /* color: #333 */
}

.navbar-light .navbar-nav .nav-link:hover 
{
    color: white;
    /* color: #4e2296 */
}

.navbar-light .navbar-nav .nav-link.active 
{
    color: #451296
}

.navbar-toggler:focus 
{
    box-shadow: none
}

/* -------------------------------- sidebar ------------------------------- */

#sidebar {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    /* color: black; */
}

#sidebar .h4 {
    font-weight: 400;
    padding: 15px;
    background-color: #32CD32;
    color: yellow;
    text-align: center;
}

#sidebar a:hover 
{
    background-color: #32CD32;
    color: white;
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem
}

#sidebar ul li 
{
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent
}

#sidebar ul li.active {
    border-left: 5px solid yellow;
    background-color: red
}

#sidebar ul li a {
    display: block
}

#sidebar ul li a .fas,
#sidebar ul li a .far 
{
    /* color: yellow; */
    /* color: #ddd; */
    color: #32CD32;
    font-weight: bolder;
}

#sidebar ul li a .link 
{
    color: black;
    /* color: #fff; */
    font-weight: 500
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: black;
    /* color: #ddd */
}

/* ----------------------------partie droite - main-content --------------------------------- */

h1
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: bold;
    color: black;    
    text-align: center;
}

h2
{
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
}

input
{
  width: 400px;
  box-shadow: 10px 5px 5px gray;
  border: 1px solid whitesmoke;
}

.checkbox
{
  width: 15px;
  /* height: 15px; */
  /* box-shadow: 10px 5px 5px gray; */
  border: 1px solid whitesmoke;
}

.label-checkbox {
    margin-left: 10px; /* Ajustez la valeur selon vos besoins */
}

.fa
{
  color: #32CD32;
}

.fas
{
  color: #32CD32;
}

.fa-brands
{
  color: #32CD32;
}

.fa-solid
{
  color: #32CD32;
}

#checkbox
{
  box-shadow: none;
  border: none;
  text-align: left;
  width: 20px;
}

.signin 
{
  background-color: white;
  padding: 3Opx;
  margin: auto;
  height: auto;
}

.btn
{
  margin-top: 30px;
  background-color: #32CD32;
  color: yellow;
  border-radius: 10px;
  border: thick double white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold;
  padding: 10px;
  width: 300px;
  box-shadow: 10px 5px 5px gray;
}

.btn-modal-oui
{
  margin-top: 30px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: thick double white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold;
  padding: 10px;
  width: 100px;
  box-shadow: 10px 5px 5px gray;
}

.btn-modal-non
{
  margin-top: 30px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: thick double white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold;
  padding: 10px;
  width: 100px;
  box-shadow: 10px 5px 5px gray;
}

.btn:hover 
{
    margin-top: 30px;
    background-color: #32CD32;
    color: white;
    border-radius: 10px;
    border: thick double white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    padding: 10px;
    width: 300px;
    box-shadow: 10px 5px 5px gray;
}


#main-content {
    padding: 30px;
    border-radius: 15px
}

#main-content .h5 
{
    background-color: #32CD32;
    color: yellow;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 0
}


#main-content .h5,
#main-content .text-uppercase {
    font-weight: 600;
    margin-bottom: 0
}

#main-content .h5+div {
    font-size: 0.9rem
}

#main-content .box {
    padding: 10px;
    border-radius: 6px;
    width: 170px;
    height: 90px
}

#main-content .box img {
    width: 40px;
    height: 40px;
    object-fit: contain
}

#main-content .box .tag {
    font-size: 0.9rem;
    color: #000;
    font-weight: 500
}

#main-content .box .number {
    font-size: 1.5rem;
    font-weight: 600
}

.order {
    padding: 10px 30px;
    min-height: 150px
}

.order .order-summary {
    height: 100%
}

.order .blue-label {
    background-color: #aeaeeb;
    color: #0046dd;
    font-size: 0.9rem;
    padding: 0px 3px
}

.order .green-label {
    background-color: #a8e9d0;
    color: #008357;
    font-size: 0.9rem;
    padding: 0px 3px
}

.order .fs-8 {
    font-size: 0.85rem
}

.order .rating img {
    width: 20px;
    height: 20px;
    object-fit: contain
}

.order .rating .fas,
.order .rating .far {
    font-size: 0.9rem
}

.order .rating .fas {
    color: #daa520
}

.order .status {
    font-weight: 600
}

.order .btn.btn-primary {
    background-color: #fff;
    color: #4e2296;
    border: 1px solid #4e2296
}

.order .btn.btn-primary:hover {
    background-color: #4e2296;
    color: #fff
}

.order .progressbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative
}

.order .progressbar-track .progressbar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0rem
}

.order .progressbar-track .progressbar li {
    font-size: 1.5rem;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #dddddd;
    z-index: 100;
    position: relative
}

.order .progressbar-track .progressbar li.green {
    border: 1px solid #007965;
    background-color: #d5e6e2
}

.order .progressbar-track .progressbar li::after {
    position: absolute;
    font-size: 0.9rem;
    top: 50px;
    left: 0px
}

#tracker {
    position: absolute;
    border-top: 1px solid #bbb;
    width: 100%;
    top: 25px
}

#step-1::after {
    content: 'Placed'
}

#step-2::after {
    content: 'Accepted';
    left: -10px
}

#step-3::after {
    content: 'Packed'
}

#step-4::after {
    content: 'Shipped'
}

#step-5::after {
    content: 'Delivered';
    left: -10px
}

.bg-purple {
    background-color: #55009b
}

.bg-light {
    background-color: #f0ecec !important
}

.green {
    color: #007965 !important
}

/* ----------------------- partie media ------------------------ */

@media(max-width: 1199.5px) {
    nav ul li {
        padding: 0 10px
    }
}

@media(max-width: 500px) {
    .order .progressbar-track .progressbar li {
        font-size: 1rem
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.8rem;
        top: 35px
    }

    #tracker {
        top: 20px
    }
}

@media(max-width: 440px) {
    #main-content {
        padding: 20px
    }

    .order {
        padding: 20px
    }

    #step-4::after {
        left: -5px
    }
}

@media(max-width: 395px) {
    .order .progressbar-track .progressbar li {
        font-size: 0.8rem
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.7rem;
        top: 35px
    }

    #tracker {
        top: 15px
    }

    .order .btn.btn-primary {
        font-size: 0.85rem
    }
}

@media(max-width: 355px) {
    #main-content {
        padding: 15px
    }

    .order {
        padding: 10px
    }
}