{% extends 'admin.html.twig' %}

{% block title %}Liste des Réservations et Commandes{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Liste des Réservations et Commandes</h1>

        {# ------------datepicker -------------- #}
        <label for="datePicker">Sélectionnez une date:</label>
        <input type="text" id="datePicker" class="form-control mb-3 text-center" name="date" style="width:150px">

        {# ---------Zone pour afficher les statistiques des réservations et commandes bg-light------------- #}
        <div class="alert alert-success border rounded-3 fw-bold fs-5 p-1 mb-3 d-flex justify-content-center">
            <div id="stats" class="my-3"></div>
        </div>

        {# -----------------------bouton imprimer -------------------------- #}
		<div class="d-flex justify-content-end mb-3">
			<button onclick="printDocument()" class="btn">Imprimer</button>
        </div>
        
        <div id="reservationDetails" class="row">
            {# Les détails des réservations seront injectés ici via JavaScript #}
        </div>
         
   </div>
 
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        // ------------fonction permettant d'imprimer la liste des commandes -------------------
		function printDocument() 
		{
			// Récupérer l'élément à imprimer
			var elementToPrint = document.getElementById('reservationDetails').innerHTML;

			// Ouvrir une nouvelle fenêtre ou un nouvel onglet
			var newWindow = window.open();

			// Ajouter le contenu à imprimer avec des styles CSS pour centrer
			newWindow.document.write(`
			<html>
				<head>
					<title>Document à imprimer</title>
					<style>
						body 
						{ 
							display: flex; 
							justify-content: center; 
							align-items: center; 
							height: 100vh; 
							margin: 0; 
							font-family: Arial, sans-serif; 
						}
						.print-container 
						{ 
							text-align: center; 
							border: 1px solid #000; 
							padding: 20px; 
							width: fit-content; 
							max-width: 100%; 
						}
					</style>
				</head>
				<body>
					<div class="print-container">${elementToPrint}</div>
				</body>
			</html>`);

			// Assurez-vous que le contenu est chargé avant d'imprimer
			newWindow.document.close();
			newWindow.onload = function() 
			{
				newWindow.print();
			};
		}

        $(document).ready(function() 
        {
            $('#datePicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'fr',
            todayHighlight: true,
            autoclose: true,
            }).on('changeDate', function(e) {
                const selectedDate = e.format('yyyy-mm-dd');
                fetchReservations(selectedDate);
            });

            function fetchReservations(date) 
            {
                // Remplacement de la date dans l'URL pour la requête fetch
                const url = `{{ path('reservations_details_date', {'date': 'date-placeholder'}) }}`.replace('date-placeholder', date);
                fetch(url)
                    .then(response => response.json())
                    .then(data => displayReservations(data))
                    .catch(error => console.error('Error:', error));
            }

            // -----debut displayReservations ------------
            function displayReservations(data) 
            {
                const container = document.getElementById('reservationDetails');
                const statsContainer = document.getElementById('stats');
                container.innerHTML = '';
                
                if (data.length === 0) 
                {
                    statsContainer.innerHTML = "<p>Il n'y a aucune réservation ni commande pour cette date.</p>";
                } 
                else 
                {
                    let totalReservations = data.length;
                    let totalCommandes = data.filter(d => d.montantCommande && d.montantCommande !== 'Pas de commande').length;
                    statsContainer.innerHTML = `<p>Total des réservations : ${totalReservations}</p><p>Total des commandes : ${totalCommandes}</p>`;
                    
                    data.forEach(detail => 
                    {
                        let commandeInfo = `<strong>Montant de la commande :</strong> ${detail.montantCommande ? detail.montantCommande + ' €' : 'Pas de commande'}`;
                        let produitsDetails = '';
                        if (detail.detailsCommande.length > 0) 
                        {
                            produitsDetails = '<ul>';
                            detail.detailsCommande.forEach(p => 
                            {
                                produitsDetails += `<li>${p.quantite} x ${p.nomProduit} - (${p.quantite} x  ${p.prixUnitaire.toFixed(2)} € = ${p.prixTotal.toFixed(2)} €)</li>`;
                            });
                            produitsDetails += '</ul>';
                        }
                        
                        const reservationDiv = `
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header d-flex justify-content-center fw-bold">Détails de la réservation</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <strong>Date de réservation :</strong> ${detail.dateReservation.split('-').reverse().join('/')}<br>
                                            <strong>Horaire :</strong> ${detail.horaireReservation}<br>
                                            <strong>Nom :</strong> ${detail.nom}<br>
                                            <strong>Prénom :</strong> ${detail.prenom}<br>
                                            <strong>Nombre de couverts :</strong> ${detail.nombreCouverts}<br>
                                        </p>
                                    </div>
                                    <div class="card-header d-flex justify-content-center fw-bold">Détails de la commande</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            ${commandeInfo}<br>
                                            ${produitsDetails}
                                        </p>
                                    </div>
                                </div>  
                            </div>`;
                        container.innerHTML += reservationDiv;
                    });
                }
            }
            // -----fin displayReservations ------------
        });
    </script>

{% endblock %}
